@use '../abstracts' as a;

.footer{
    margin-bottom: 4em;

    .cta{
        @include a.ctaBtn(a.$black-clr, a.$beige-clr);
    }

    .nav__social__icons{
        display: flex;
        gap: 1rem;
    }
}

.opening > p{
    font-size: 1.3rem;
    font-weight: bold;
}

.footer-menu_page{
    background-color: var(--beige-clr);
    margin-bottom: 0;
    padding-block: 7em 4em;

    .cta{
        @include a.ctaBtn;
    }
}

@media (max-width: 768px) {
    .footer{
        .col-lg-4:nth-of-type(3){
            margin-top: 5em;
        }
    }
}