:root {
    --orange-clr: #ff5733;
    --purple-clr: #836496;
    --beige-clr: #f3e9db;
    --black-clr: #212529;
    --white-clr: #d3d3da;









    --yellow-clr: #f4c456;
    --dark-purple-clr: #56477e;
    --wine-clr: #893d59;
    --coral-clr: #cb6452;
    --grey-clr: #777575;

}