@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Chocolate";
    src: url("../../assets/font/Chocolate.otf");
}

i{
    font-size: 1.5rem;
}

h1, h2{
    font-size: clamp(2.5rem, 5vw, 5.938rem);
    font-weight: 800;
    line-height: 1;
}

.sub__title{
    font-family: "Chocolate";
    color: var(--yellow-clr);
}