@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Agraham";
    src: url("../../assets/font/Agraham.otf");
}

@font-face {
    font-family: "Moderline Regular";
    src: url("../../assets/font/modernline.otf");
}

@font-face {
    font-family: "Moderline Bold";
    src: url("/assets/font/modernline_bold.otf");
}

i{
    font-size: 1.5rem;
}
