@use '../abstracts' as a;

// HERO SECTION
.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--beige-clr);
    @include a.backgroundImg("../../assets/img/pattern.png", left);
    position: relative;
}

.hero__container{
    position: relative;

    .hero__blob{
        position: absolute;
        top: 20%;
    }
}

.hero__content{
    max-width: 650px;
    padding-block: 5em;
    position: relative;
    z-index: 1;
    

    .circular__text{
        position: absolute;
        top: 3%;
        right: 5%;
    }
}

.hero__img{
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: url('../../assets/img/hero_img.jpg') no-repeat center center/cover;
}

@media (max-width: 1199px) {
    .hero__container{
        .hero__content{
            max-width: 500px;
    
            .circular__text{
                right: 0;
            }
        }

        .hero__blob{
            top: 15%;
        }
    }
}

@media (max-width: 991px) {
    .hero {
        .hero__img{
            position: relative;
            width: 100%;
            height: 100vh;
        }
    }
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        text-align: center;

        .hero__container{
            .hero__content{
                max-width: 100%;
                margin-top: 5em;
    
                .circular__text{
                    top: 0;
                    right: 0;
                }
            }

            .hero__blob{
                display: none;
            }
        } 
    }
}

@media (max-width: 575px) {
    .hero{
        text-align: left;
    }
    .hero__container{
        .hero__content{
            padding-block: 4em;
            overflow: hidden;

            .circular__text{
                position: relative;
                float: right;
                rotate: 50deg;
            }
        }
    } 
}

@media (max-width: 385px) {
    .hero__content{
        .circular__text{
            display: none;
        }
    }
}

// ABOUT SECTION
.about{
    @include a.backgroundImg("../../assets/img/pattern.png", left);

    img{
        border-radius: 50px;
        border: 10px solid var(--purple-clr);
    }

    .about__content{
        .pb-sm-4{
            @media (max-width: 575px) {
                padding-bottom: 1.5rem;
            }
        }
    }
}

.food__banner{
    height: 80vh;
    @include a.backgroundImg("../../assets/img/food_banner.jpg", center, fixed);
    margin-bottom: 50em;
}