@use '../abstracts' as a;

// HERO SECTION
.hero{
    @include a.backgroundImg("../../assets/svg/pattern.svg", left);

    .hero__img{
        right: 0;
        background: url('../../assets/img/hero_img.png') no-repeat center center/cover;
    }
    
    .hero__container{
        .hero__content{
            padding-block: 5em;

            .circular__text{
                position: absolute;
                top: 5%;
                right: 0;
            }

             h1{
                text-wrap: balance;
            }

            .nav__social__icons{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .hero__blob{
            position: absolute;
            top: 21%;
        }
    }
}

@media (max-width: 1200px) {
    .hero{
        .hero__container{
            .hero__content{
                max-width: 400px;
        
                .circular__text{
                    top: 2%;
                    right: -10%;
                }
            }
    
            .hero__blob{
                max-width: 360px;
            }
        }
    }
}

@media (max-width: 992px) {
    .hero{
        .hero__container{
            .hero__content{
                max-width: 100%;

                .circular__text{
                    right: 0;
                }
            }

            .hero__blob{
                top: 20%;
                left: 8%;
                width: auto;
                height: 120px;
            }
        }

        .hero__img{
            position: relative;
            width: 100%;
            height: 100vh;
        }
    }
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        text-align: center;

        .hero__container{
            .hero__content{
                padding-block: 10em 2em;

                .circular__text{
                    right: 5%;
                    top: 18%;
                }

                .nav__social__icons{
                    justify-content: center;
                }
            }

            .hero__blob{
                display: none;
            }
        } 
    }
}

@media (max-width: 576px) {
    .hero{
        .hero__container{
            .hero__content{
                padding-block-end: 3em;
    
                .circular__text{
                    display: none;
                }
            }
        } 
    }
}

// ABOUT SECTION
.about{
    @include a.backgroundImg("../../assets/img/pattern.png", left);

    img{
        @include a.imgBorder;
    }

    .about__content{
        .pb-sm-4{
            @media (max-width: 575px) {
                padding-bottom: 1.5rem;
            }
        }
    }
}

.food__banner{
    height: 80vh;
    @include a.backgroundImg("../../assets/img/food_banner.jpg", center, fixed);
}

// MENU SECTION
.menu{
    .cta{
        @include a.ctaBtn(a.$black-clr, a.$beige-clr);
    }
}

.menu__item{
    max-width: 550px;

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        @include a.imgBorder(50%, a.$yellow-clr);
        flex-shrink: 0;
    }

    .menu__item__info{
        flex: 1;
    }

    .menu__item__title{
        font-size: 1.3rem;
        font-weight: bold;
        border-bottom: 1px solid var(--black-clr);
    }

    .price{
        float: right;
        color: var(--yellow-clr);
    }
}

@media (max-width: 991px) {
    .menu__content .row:nth-of-type(1){
        align-items: center;
    }

    .menu__item{
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .menu__content .row:nth-of-type(1){
        flex-direction: column-reverse;

        .menu__header{
            text-align: center;
        }
    }
}

// EVENTS CONTENT
.events{
    .events__img{
        background: url('../../assets/img/event1.jpg') no-repeat center center/cover;
        left: 0;
        transition: opacity 0.5s ease-in-out;

        @media (max-width: 767px) {
            display: none;
        }
    }
   
    .fade-out{
        opacity: 0;
    }
    
    .fade-in{
        opacity: 1;
    }

    .carousel-item{
        @media (max-width: 767px) {
            @include a.backgroundImg("../../assets/img/pattern.png", left);
        }
    }

    .events__content{
        padding-block: 10em;

        .sub__title{
            color: var(--purple-clr);
        }
    }

    .carousel-indicators{
        margin-top: 1.5rem;

        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--black-clr);
            border: none;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;

            &.active{
                opacity: 1;
            }
        }
    }
}