@use '../abstracts' as a;

// GALLERY SECTION
.slider{
    --width: 300px;
    --height: 500px;
    --quantity: 10;

    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );

    .slider__track{
        width: 100%;
        min-width: calc(var(--width) * var(--quantity));
        position: relative;

        .slider__item{
            width: var(--width);
            height: var(--height);
            position: absolute;
            left: 100%;
            animation: infiniteScroll 15s linear infinite;
            animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
           
            img{
                @include a.imgBorder;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes infiniteScroll{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1);
    }
}







