// CENTER PAGE
@mixin centerPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

// BACKGROUND IMAGE POSITION
@mixin backgroundImg($image, $position, $attachment: initial) {
    background-image: url($image);
    background-position: $position;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: $attachment;
}